In [1]:
# !pip3 install gensim
import pandas as pd

In [2]:
df = pd.read_csv('tmdb_5000_movies.csv',na_values='[]')
df = df[df['genres'].notnull()]

In [242]:
df.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [4]:
df.genres.tail()

4797    [{"id": 10769, "name": "Foreign"}, {"id": 53, ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, dtype: object

In [5]:
a =df.genres[0].replace('[','').replace('{','').replace('"','').replace('id','').replace(':','').replace('name','').replace('}','').replace(']','')

In [6]:
b=a.replace(' ','').split(',')

In [7]:
# new_genres = []
# for i,j in enumerate(b):
#     if b[i][0:].isdigit():
#         continue
#     else:
#         new_genres.append(b[i])

In [8]:
new_genres = []
for i in df.genres:
    b=i.replace('[','').replace('{','').replace('"','').replace('id','').replace(':','').replace('name','').replace('}','').replace(']','').replace(' ','').split(',')
    p= []
    for k,j in enumerate(b):
        if b[k][0:].isdigit():
            continue
        else:
            p.append(b[k])
    new_genres.append(p)

In [9]:
df['new_genres'] = new_genres

In [10]:
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,new_genres
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[Action, Adventure, Fantasy, ScienceFiction]"
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[Adventure, Fantasy, Action]"
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[Action, Adventure, Crime]"
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"[Action, Crime, Drama, Thriller]"
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,"[Action, Adventure, ScienceFiction]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,0,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",NaN,67238,NaN,en,Cavite,"Adam, a security guard, travels from Californi...",0.022173,NaN,...,2005-03-12,0,80.0,NaN,Released,NaN,Cavite,7.5,2,"[Foreign, Thriller]"
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,"[Action, Crime, Thriller]"
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,NaN,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,NaN,...,2011-12-26,0,85.0,NaN,Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,"[Comedy, Romance]"
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,"[Comedy, Drama, Romance, TVMovie]"
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,[Documentary]

In [162]:
df1 = df[['original_title','new_genres','overview']]

In [163]:
df1.new_genres[0][0]

'action'

In [164]:
for i in range(len(df1.new_genres[0])):
    if type(df1.new_genres[0][i])==str:
        df1.new_genres[0][i]=df1.new_genres[0][i].lower()
print (df1.new_genres[0])

['action', 'adventure', 'fantasy', 'sciencefiction']

In [165]:
def conversion(x):
    for i in range(len(x)):
        if type(x[i])==str:
            x[i]=x[i].lower()
    return x

In [166]:
df1.overview = df1['overview'].str.lower()

C:\Users\Abhi\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [167]:
df1.head()

,original_title,new_genres,overview
0,Avatar,"[action, adventure, fantasy, sciencefiction]","in the 22nd century, a paraplegic marine is di..."
1,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]","captain barbossa, long believed to be dead, ha..."
2,Spectre,"[action, adventure, crime]",a cryptic message from bond’s past sends him o...
3,The Dark Knight Rises,"[action, crime, drama, thriller]",following the death of district attorney harve...
4,John Carter,"[action, adventure, sciencefiction]","john carter is a war-weary, former military ca..."

In [168]:
df1.new_genres = df1.new_genres.apply(conversion)

C:\Users\Abhi\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [169]:
df1

,original_title,new_genres,overview
0,Avatar,"[action, adventure, fantasy, sciencefiction]","in the 22nd century, a paraplegic marine is di..."
1,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]","captain barbossa, long believed to be dead, ha..."
2,Spectre,"[action, adventure, crime]",a cryptic message from bond’s past sends him o...
3,The Dark Knight Rises,"[action, crime, drama, thriller]",following the death of district attorney harve...
4,John Carter,"[action, adventure, sciencefiction]","john carter is a war-weary, former military ca..."
...,...,...,...
4797,Cavite,"[foreign, thriller]","adam, a security guard, travels from californi..."
4798,El Mariachi,"[action, crime, thriller]",el mariachi just wants to play his guitar and ...
4799,Newlyweds,"[comedy, romance]",a newlywed couple's honeymoon is upended by th...
4800,"Signed, Sealed, Delivered","[comedy, drama, romance, tvmovie]","""signed, sealed, delivered"" introduces a dedic..."
4802,My Date with Drew,[documentary],ever since the second grade when he first saw ...

In [170]:
def length_of_string(x):
    if len(x)>0:
        return x

In [171]:
df1.new_genres[4802]

['documentary']

In [172]:

import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Abhi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [173]:
from nltk.corpus import stopwords

cachedStopWords = stopwords.words("english")

In [174]:
from gensim.parsing.preprocessing import remove_stopwords

In [175]:
df1 = df1[df1['overview'].notnull()]

In [176]:
df1.overview = df1.overview.apply(lambda x: remove_stopwords(x))

In [177]:
df1.new_genres=df1['new_genres'].apply(lambda x: [item for item in x if item not in cachedStopWords])

In [178]:
df1

,original_title,new_genres,overview
0,Avatar,"[action, adventure, fantasy, sciencefiction]","22nd century, paraplegic marine dispatched moo..."
1,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]","captain barbossa, long believed dead, come lif..."
2,Spectre,"[action, adventure, crime]",cryptic message bond’s past sends trail uncove...
3,The Dark Knight Rises,"[action, crime, drama, thriller]","following death district attorney harvey dent,..."
4,John Carter,"[action, adventure, sciencefiction]","john carter war-weary, military captain who's ..."
...,...,...,...
4797,Cavite,"[foreign, thriller]","adam, security guard, travels california phili..."
4798,El Mariachi,"[action, crime, thriller]",el mariachi wants play guitar carry family tra...
4799,Newlyweds,"[comedy, romance]",newlywed couple's honeymoon upended arrivals r...
4800,"Signed, Sealed, Delivered","[comedy, drama, romance, tvmovie]","""signed, sealed, delivered"" introduces dedicat..."
4802,My Date with Drew,[documentary],"second grade saw e.t. extraterrestrial, brian ..."

In [228]:
# df = df[df['genres'].notnull()]
# df1 = df1[df1.overview.fillna(' ')]
df1.overview[0]

'22nd century, paraplegic marine dispatched moon pandora unique mission, torn following orders protecting alien civilization.'

In [223]:
df1.overview = df1.overview.fillna(' ')
ov=cv.fit_transform(df1.overview)

In [224]:
f=ov.toarray()
f

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [189]:
" ".join(df1.new_genres[0])

'action adventure fantasy sciencefiction'

In [194]:
df1.new_genres = df1.new_genres.apply(lambda x: " ".join(x))

In [196]:
con = cv.fit_transform(df1.new_genres)

In [214]:
a =con.toarray()
a

array([[1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [217]:
# df1['ng'] = con.toarray().tolist()
df1['ov']=ov.toarray().tolist()

In [131]:
# df1.overview = df1.overview.apply(lambda x: x.split(','))

In [218]:
df1

,original_title,new_genres,overview,ng,ov
0,Avatar,action adventure fantasy sciencefiction,"22nd century, paraplegic marine dispatched moo...","[1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,Pirates of the Caribbean: At World's End,adventure fantasy action,"captain barbossa, long believed dead, come lif...","[1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,Spectre,action adventure crime,cryptic message bond’s past sends trail uncove...,"[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,The Dark Knight Rises,action crime drama thriller,"following death district attorney harvey dent,...","[1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,John Carter,action adventure sciencefiction,"john carter war-weary, military captain who's ...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...
4797,Cavite,foreign thriller,"adam, security guard, travels california phili...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4798,El Mariachi,action crime thriller,el mariachi wants play guitar carry family tra...,"[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4799,Newlyweds,comedy romance,newlywed couple's honeymoon upended arrivals r...,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4800,"Signed, Sealed, Delivered",comedy drama romance tvmovie,"""signed, sealed, delivered"" introduces dedicat...","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4802,My Date with Drew,documentary,"second grade saw e.t. extraterrestrial, brian ...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [219]:
df_final = df1[['original_title','ng','ov']]

In [227]:
df_final

,original_title,ng,ov
0,Avatar,"[1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,Pirates of the Caribbean: At World's End,"[1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,Spectre,"[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,The Dark Knight Rises,"[1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,John Carter,"[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...
4797,Cavite,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4798,El Mariachi,"[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4799,Newlyweds,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4800,"Signed, Sealed, Delivered","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4802,My Date with Drew,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [132]:
from sklearn.feature_extraction.text import CountVectorizer

In [133]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
cv = CountVectorizer(stop_words=ENGLISH_STOP_WORDS)

In [234]:
from sklearn.model_selection import train_test_split

In [235]:
X_train,X_test,y_train,y_test = train_test_split(df_final.ov,df_final.ng,test_size=0.3)

In [236]:
from sklearn.multioutput import MultiOutputClassifier
from sklearn.tree import DecisionTreeClassifier

In [105]:
# clf = MultiOutputClassifier(DecisionTreeClassifier()).fit(X_traincv.toarray(), y_traincv.toarray())

In [237]:
from sklearn.ensemble import RandomForestClassifier

In [238]:
model = RandomForestClassifier()

In [241]:
model.fit(list(X_train),list(y_train))

RandomForestClassifier()

In [243]:
overviewww = ['In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.']

In [245]:
overviewww_count = cv.transform(overviewww)

In [253]:
a=model.predict(overviewww_count)

In [255]:
a

array([[1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]])